<footer id="footer">
    <div class="footer-widget">
        <div class="text-center">
            <div class="row">
                <div>
                    <div class="text-center">
                        <h2>Foooter Bölümü</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="text-center">Furkan BEKTAŞ</p>

            </div>
        </div>
    </div>

</footer>