<!--Header Bottom Kısmı-->
<div class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">

                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a asp-action="Index" class="active">Ana Sayfa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>